<!DOCTYPE html>
<html>
<head>
  <title>worksomehowpls</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta charset="UTF-8">
  <title>Document</title>
   <style>
    input{
      width: 30%;
      border-radius: 5px;
	  font-size:80px	;
    }
	input[type="text"]{
      width: 5%;
    }
	a{
	font-size:80px;
	border-radius: 5px;
	width:10%;
	}
	button{
	height:100px;
	font-size:80px;
	
	}
  </style>
</head>

<body>

<div id='app'>
	
		<input type="number" v-model="LHS" />
		<input type="text" v-model="operator" />
		<input type="number" v-model="RHS" />
	
	<button @click="calculate">=</button>
	<a>{{ result }}</a>
</div>
	<script src = "js.js"></script>
</body>
</html>


